$font-stack: "Roboto",sans-serif;
$color-background: #282c34;
$color-light: #abb2bf;

body {
    font-family: $font-stack;
    text-rendering: optimizeLegibility;
    background-color: $color-background;
}

h1 {
    color: $color-light;
    text-align: center;
}

h2 {
    color: $color-light;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    text-align: center;

    li {
        display: inline-block;

        a {
            color: white;
            display: block;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                background-color: #111111;
            }
        }
    }
}